:root{
  --body-bg:linear-gradient(135deg,#71b7e6,#9b59b6);
  --hover-body-bg:linear-gradient(-135deg,#71b7e6,#9b59b6);
}
body{
  min-height: 100vh;
  min-width: 100vw;
  box-sizing: border-box;
  background: var(--body-bg);
}
#root{
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: center;
  column-gap: 2rem;
}
@media screen and (max-width:1200px){
  #root{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
  }
  .weather-container{
    position: static !important;
  }
 .form_container,.table_container{
  width: 80% !important;
 }
}
@media screen and (max-width:700px){
  .form_container,.table_container{
    width: 95% !important;
  }
}
@media screen and (max-width:550px){
  label{
  font-size: 1.2rem !important;
 }
 .input_box{
  padding:0.7rem 0.5rem  !important;
 }
 
}
.btn{
  /* width: 12rem; */
  margin: auto;
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
  font-size: 1.3rem;
  font-weight: 600;
  cursor: pointer;
  border: none;
  background-color: #71b7e6;
}
/* -------------------------WEATHER CONTAINER------------------------ */
.weather-container{
  position: absolute;
  top: 7rem;
  left: 9em;
}
#city{
  padding: 0.4rem;
  font-size: 1rem;
}
.weather-heading{
  margin: 0.7rem 0.2rem ;
  text-shadow: 0 2px 2px wheat;
  font-size: 1.8rem;
}
/* -------------------------NOTIFICATION------------------------ */
#toastBox{
  position: absolute;
  top:7rem;
  right: 7.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  padding: 20px;
  z-index: 2;
}
.toast{
  box-shadow: 0 0 6px 2px black;
  width: 350px;
  height: 80px;
  background: #fff;
  font-weight: 500;
  margin: 15px 0;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 20px;
}
.toast i{
  margin: 0 20px;
  font-size: 35px;
  color: green;
}
.toast .no_data{
  color: rgb(143, 7, 7);
}
.toast::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: green;
  animation: anim 5s linear forwards;
}
.toast:has(.no_data)::after{
  background: rgb(143, 7, 7);
}
.hide{
  display: none;
}
@keyframes anim{
  100%{
     width: 0;
  }
}

/* -------------------------FORM------------------------ */
.form_container{
  background: #fff;
  width: 49%;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 10px 4px;
}
.form_header{
  font-size: 2rem;
  margin: 0;
  text-decoration: underline;
}
form{
  padding: 1rem 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input_container{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  row-gap: 0.4rem;
}
.input_div{
  width: 100%;
}
label{
  display: inline-block;
  width: 30%;
  margin: 0 1rem 0 0;
  font-size: 1.5rem;
  font-weight: 500;
}
.input_box{
  display: inline-block;
  width: 60%;
  font-size: 1.1rem;
  padding: 0.3rem;
  border-radius: 0.5rem;
  outline: none;
  height: 1rem;
  padding: 0.8rem 0.1rem;
  border:2px solid #8f8b8b;
}
.submit,.update{
  background: var(--body-bg);
}
.submit:hover,.update:hover{
  background: var(--hover-body-bg);
  box-shadow: 0px 0px 20px 1px;
}
.require-span{
  color: rgb(133, 7, 7);
}
.error{
  font-size: 1.2rem;
  color: rgb(133, 7, 7);
  padding-left: 33%; 
}
/* -------------------------Table------------------------ */
.table_container{
  background: #fff;
  width: 49%;
  box-shadow: 0px 0px 10px 4px;
  max-height:38rem;
  min-height: 30rem;
  overflow: auto;
}

.main_table{
  border-collapse: collapse;
  width: 80%;
  margin: 0.5rem auto;
  overflow: auto;
}

tr,th,td{
  border: 1.5px solid #ccc;
}

tr{
  font-size: 1.4rem;
}

td{
  font-size: 1.3rem;
  text-align: center;
}

i{
  margin: 0.5rem;
  cursor: pointer;
}